appnope
asttokens
build==1.2.2.post1
comm
debugpy
decorator
exceptiongroup
executing
flatten-json==0.1.14
importlib_metadata
iniconfig==2.0.0
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest_asyncio
numpy==2.2.3
packaging
pandas==2.2.3
parso
pexpect
pickleshare
platformdirs
pluggy==1.5.0
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyproject_hooks==1.2.0
pytest==8.3.4
python-dateutil
pytz==2025.1
pyzmq
setuptools==75.8.0
six
stack_data
tornado
traitlets
typing_extensions
tzdata==2025.1
wcwidth
wheel==0.45.1
zipp
